    body {
      margin: 0;
      font-family: Arial, sans-serif;
      background-color: #f7f9f9;
    }

    body,h1,h2,h3,h4,h5{
        color: #3498db; 
    }
    
    .navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #6FB1FC; /* Azul celeste atlántico */
    }

    .navbar-logo img {
      height: 100px;
    }

    .navbar-menu {
      display: flex;
      gap: 20px;
      position: relative;
    }

    .navbar-menu a {
      color: white;
      text-decoration: none;
      font-weight: bold;
      transition: color 0.3s;
      padding: 15px 10px;
      display: inline-block;
    }

    .navbar-menu a:hover {
      color: #ccc;
    }

    .dropdown {
      position: relative;
      display: inline-block;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #6FB1FC;
      min-width: 150px;
      top: 100%;
      left: 0;
      box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
      z-index: 1;
      flex-direction: column;
    }

    .dropdown-content a {
      color: white;
      padding: 10px 15px;
      text-decoration: none;
      display: block;
      font-weight: normal;
    }

    .dropdown-content a:hover {
      background-color: #5599E6;
    }

    .dropdown:hover .dropdown-content {
      display: flex;
    }

    #institucional-que-hacemos-titulo-img-id{
      width: 100vw; /* Ancho igual al tamaño de la ventana */
      height: 100vh; /* Alto igual al tamaño de la ventana */
      object-fit: cover; /* Ajusta la imagen sin distorsionar */
      box-shadow: 10px 5px 5px grey;
      margin-top: 10px;
    }

    .institucional-que-hacemos-titulo{
      box-shadow: 5px 5px 1px 1px rgba(0, 0, 255, 0.2);
      margin-top: 50px;
      margin-left: 30px;
      width: fit-content;
      height: fit-content; 
    }

    .institucional-que-hacemos-cuerpo{
      box-shadow: 5px 5px 1px 1px rgba(0, 0, 255, 0.2);
      margin-top: 50px;
      margin-left: 30px;
      width: fit-content;
      height: fit-content; 
    }
    
    footer {
    width: 100%; /* Ocupa todo el ancho de la página */
    height: 40px; /* Altura de 40px */
    background-color: #333; /* Color de fondo oscuro */
    color: white; /* Texto en color blanco */
    text-align: center; /* Centra el texto horizontalmente */
    display: flex;
    align-items: center; /* Centra el contenido verticalmente */
    justify-content: center;
    }

   