html, body {
    margin: 0;
    background-color: #f7f9f9;
    display: flex;
    flex-direction: column;
    height: 100%;
}

main{
    flex: 1;
}   

h1, h2, h3, h4, h5 {
    color: inherit;
}

hr {
    border: none;
    height: 3px; 
    background-color: black; 
    margin: 0;
    padding: 0;
}

.navbar-addons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.navbar {
    display: flex;
    width: 100%;
    align-items: center;
}


.navbar-logo img {
    height: 100px;
}

.navbar-menu {
    display: flex;
    gap: 20px;
    position: relative;
    justify-content: center;
    flex-grow: 1;
}

.navbar-menu a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease-out;
    padding: 15px 10px;
    display: inline-block;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.navbar-menu a:hover {
    color: white;
    background-color: black;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 150px;
    top: 100%;
    left: 0;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    flex-direction: column;
}

.dropdown-content a {
    
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    font-weight: normal;
    border-radius: 0%;
    background-color: black;
    color: white;
}

.dropdown-content a:hover {
    background-color: white;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: flex;
}

.img-shadow {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: block;
    max-width: 100%;
}

.breadcrumb {
    background-color: whitesmoke !important;
    padding: 10px;
    color: aliceblue !important;
    font-size: small;
    position: relative;
    opacity: 0.6;
}

.breadcrumb a {
    color: blueviolet;
}

#institucional-que-hacemos-titulo-img-id {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    box-shadow: 10px 5px 5px grey;
    margin-top: 10px;
}

.institucional-que-hacemos-titulo,
.institucional-que-hacemos-cuerpo {
    box-shadow: 5px 5px 1px 1px rgba(0, 0, 255, 0.2);
    margin-top: 50px;
    margin-left: 30px;
    width: fit-content;
    height: fit-content;
}

footer {
    
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    

}
.social-icon:hover {
      color: #6FB1FC;
      transition: color 0.3s ease;
    }

.card{
    margin: 10px;
}

.fondo{
    background-image: url(../plantilla/imgs/imagen_muestra.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 1;
}

.titulo-display-1{
    color: white;
    opacity: 0.9;
    width: max-content;
    height: auto;
}

.button-envio{
    width: 100px;
    position: relative;
    align-content: center;
    margin: auto;
}